@tailwind base;
@tailwind components;
@tailwind utilities;


    /* styles.css */
/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track of the scrollbar */
  ::-webkit-scrollbar-track {
    background: #e7e7e7;
  }
  
  /* Handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #707070;
    cursor: pointer;
    transition: background-color 3ms;
  }
